@{
    ViewData["Title"] = "About";
}

<h2>About us</h2>
<hr />
<div class="container">
    <div class="col-sm-6">
        <p>
            Ready for a luxurious ride that doesn’t come with a luxury price tag?
            Then head over to WheelerDealer Ltd. to get started shopping or take advantage of our website to search now!
            You can scroll through all the available previously owned options we have in stock or even search our stock to find the exact model you’re looking for!
        </p>

        <p>
            Established in 2003, WheelerDealer Ltd. is one of the pioneers and leading car dealership for brand new and pre-owned, luxury and sports cars in Dubai, United Arab Emirates.
            WheelerDealer Ltd. has in the space of over 10 short years, evolved into the largest and most client preferred distributor of collectable automobiles in the Middle East.
        </p>

        <p>WheelerDealer Ltd. offering wide range of British, Japanese, American and European luxury and sports brands such as Audi, Aston Martin, Bentley, BMW, Bugatti, Cadillac, Ferrari, Infiniti, Jaguar, Lamborghini, Maserati, McLaren, Mercedes Benz, Mini Cooper, Nissan, Porsche, Range Rover, Rolls Royce and Toyota at our showrooms in various locations in Dubai and Abu Dhabi.</p>
    </div>
    <div class="col-sm-6">
        <img src="~/images/about.jpg" class="img-responsive"/>
    </div>
</div>
