@model IEnumerable<CarSummaryViewModel>

@{
    ViewData["Title"] = "Favorites";
}

<h2>Favorites</h2>

<div class="col-lg-12">
    @if (!Model.Any())
    {
        <div class="text-info">There are no cars in favorites!</div>
    }

    <div class="list-group col-lg-offset-1 col-lg-10">

        @foreach (var car in Model)
        {
            <partial name="_CarSummary" model="car" />
        }
    </div>
</div>